<div style="padding-top:150px;">
  <div style="width:400px; margin:0px auto;">
    <h1>My First Sinatra Page :)</h1>
    <p>Sinatra Starter Application created by <a href="http://www.twitter.com/adammcarth" target="_blank">@adammcarth</a>. If you can see this page without any errors, then it's time to start developing! Good luck.</p>
    <p>For instructions on how to use this template, visit the <a href="http://www.github.com" target="_blank">readme file on github</a>.</p>
  </div>
</div>

<div style="position:absolute; bottom:10px; right:20px;">
  <span style="color:#A3A3A3;">Find me at: "views/index.erb"</span>
</div>